*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #141414;
    text-align: center;
}
.header{
    margin-top: 100px;
    background-color: #1F1F1F;
    display: inline-block;
    width: 350px;
    height:530px ;
    border-radius: 8px;
}
.img-men{
    border-radius: 50%;
    width: 100px;
    margin-top: 40px;
}
.name{
    color: white;
}
.paragraph{
    font-size: 12px;
    color: chartreuse;
    margin-top: 2px;
}
.paragraph-job{
    margin-top:10px ;
    color: #fff;
}
.btn{
    margin-top: 10px;
    width: 300px;
    border-radius: 10px;
    height: 45px;
    background-color: #2c2c2c;
    color: #fff;
    border: none;
    transition-duration: 1s;
}
.btn:hover{
    background-color: #141414;
}